<template>
  <div>
    <h2>Join: {{ state.game_id }}</h2>
    <h2>Lobby: {{ state.title }}</h2>
    <h3>Players:</h3>
    <ul>
      <li v-for="player in state.players" :key="player">{{ player }}</li>
    </ul>
    <button @click="startGame">Start the game!</button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Channel } from 'phoenix'

import { LobbyState } from '@/game.interfaces'

export default Vue.extend({
  name: 'Lobby',
  props: {
    state: {
      type: Object as () => LobbyState,
      required: true,
    },
    channel: {
      type: Channel,
      required: true,
    }
  },
  methods: {
    startGame(): void {
      this.channel.push('start_game', {})
    }
  }
})
</script>

<style>

</style>
