<template>
  <div>
    <h2>Show Question</h2>
    <span>type: {{ state.type }}</span>
    <h2>{{ state.text }}</h2>
    <template v-if="state.type === 'text'">
      <label for="answer_input">Answer:</label>
      <input v-model="answer" type="text">
    </template>
    <template v-else-if="state.type === 'multiple_choice'">
      {{ state.choices }}
    </template>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Channel } from 'phoenix'

import { QuestionState } from '@/game.interfaces'

interface DataObj {
  answer: string
}

export default Vue.extend({
  name: 'ShowQuestion',
  props: {
    state: {
      type: Object as () => QuestionState,
      required: true
    },
    channel: {
      type: Channel,
      required: true,
    }
  },
  data(): DataObj {
    return {
      answer: ''
    }
  }
})
</script>

<style>

</style>
