<template>
  <div>
    <h1 v-if="errorMessage"><b>{{ errorMessage }}</b></h1>
    <component :is="currentStateComponent" :state="state" :channel="gameChannel" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Channel } from 'phoenix'

import socket from '@/lib/socket'

import { LobbyState, QuestionState, AnswerState, PlayerScore, ScoreState } from '@/game.interfaces';

import Lobby from '@/components/Game/Lobby.vue';
import ShowQuestion from '@/components/Game/ShowQuestion.vue';
import ShowAnswer from '@/components/Game/ShowAnswer.vue';
import ShowScore from '@/components/Game/ShowScore.vue';

enum GameState {
  Lobby,
  Question,
  Answer,
  Score,
}

interface DataObj {
  errorMessage: string,
  gameChannel: Channel | null,
  state: Object | LobbyState | QuestionState | AnswerState | ScoreState,
  currentState: GameState
}

export default Vue.extend({
  name: 'Game',
  components: {
    Lobby,
    ShowQuestion,
    ShowAnswer,
    ShowScore,
  },
  data(): DataObj {
    return {
      errorMessage: '',
      gameChannel: null,
      state: {},
      currentState: GameState.Lobby,
    }
  },
  created(): void {
    const gameId = this.$route.params.gameId
    this.joinGame(gameId)
  },
  destroyed(): void {
    if (this.gameChannel) {
      this.gameChannel.leave()
    }
  },
  computed: {
    currentStateComponent(): string {
      switch (this.currentState) {
        case GameState.Lobby:
          return 'Lobby';
        case GameState.Question:
          return 'ShowQuestion';
        case GameState.Answer:
          return 'ShowAnswer';
        case GameState.Score:
          return 'ShowScore';
      }
    }
  },
  methods: {
    joinGame(gameId: string): void {
      this.gameChannel = socket.channel(`game:${gameId}`, {name: 'Jake'})
      
      this.gameChannel.join()
        .receive('ok', (state: LobbyState) => {
          console.log('Joined successfully', state)
          this.state = state
        })
        .receive('error', resp => {
          console.log('Error joining', resp)
          this.errorMessage = resp.reason
        })

      this.gameChannel.on('update_state:lobby', (state: LobbyState) => {
        this.currentState = GameState.Lobby
        this.state = state
      })

      this.gameChannel.on('update_state:question', (state: QuestionState) => {
        this.currentState = GameState.Question
        this.state = state
      })

      this.gameChannel.on('update_state:answer', (state: AnswerState) => {
        this.currentState = GameState.Answer
        this.state = state
      })

      this.gameChannel.on('update_state:score', (state: ScoreState) => {
        this.currentState = GameState.Score
        this.state = state
      })

    }
  }
})
</script>

<style>

</style>
