<template>
  <div class="home">
    <br>
      <input v-if="!gameStarted" v-model="gameId" type="text">
      <span v-else>{{ gameId }}</span>
    <br>
    <button @click="startGame">Start Game</button>
    <button @click="joinGame">Join Game</button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import { Socket, Channel } from 'phoenix';
import socket from '../lib/socket';

export default Vue.extend({
  name: 'home',
  components: {
  },
  data() {
    return {
      channel: null,
      gameId: '',
      gameStarted: false,
    } as {
      channel: Channel | null,
      gameId: string,
      gameStarted: boolean,
    }
  },
  created() {
    this.channel = socket.channel('room:lobby', {})
    this.channel.join()
      .receive('ok', (resp: object) => console.log('Joined lobby successfully', resp))
      .receive('err', resp => console.log('Error while joining the lobby'))
  },
  methods: {
    startGame(): void {
      this.channel.push('start_game')
        .receive('ok', resp => {
          this.gameStarted = true
          this.gameId = resp.game_id
        })
    },
    joinGame(): void {
      if (this.gameId === '') { return; }

      this.$router.push({name: 'game', params: { gameId: this.gameId }})
    }
  }
});
</script>
